
.drowdownWrapper { 
    display:block;
    width:50%;
    height:32px;
    position:relative;
    cursor: pointer;
}

.dropdownSvg {
    border:1px #AAAAAA solid;
    border-radius:5px;
}
.drowdownWrapper .label {
    position:absolute;
    top:0px;
    left:0px;
    padding:0px 10px;
    display:block;
    color:#4b4b4b;
    font-family: arial;
    overflow: hidden;
}
.dropdownListWrapper {
    display:none;
    position:absolute;
    left:0px;
    z-index: 99999;
    color:#4b4b4b;
    font-family: arial;
    border:1px #AAAAAA solid;
    border-radius: 5px;
    background: #ffffff;
    overflow-y: scroll;
}  
    .dropdownListWrapper li {
         cursor: pointer;
         border-top:1px #AAAAAA solid;   
         overflow: hidden;
         display: block;
         word-wrap: break-word;
    } 
    .dropdownListWrapper li:first-child {
        border-top:none;
    }
    .dropdownListWrapper li:hover, .dropdownListWrapper li.active{
        background-color:#e5e5e5;
    }